* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-font: #fc2016;
  --background-input: #eaeaea;
  --background-navbar: rgba(196, 196, 196, .2);
  --background-cards: #fcfcfc;
}

a {
  text-decoration: none;
  color: #434343;
}
